HTTP_HOST=localhost
HTTP_PORT=3000
DB_PATH=./archive/database.db
ENVIRONMENT=development

OPAQUE_SALT_NONCE=change-me-to-something-random
OPAQUE_CHALLENGE_RANGE=100000

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ACCESS_TOKEN_DURATION=720h

RATE_LIMIT_BURST=200
RATE_LIMIT_INTERVAL=1s

# Set to "true" to disable user registration (useful for self-hosted single-user instances)
DISABLE_SIGNUP=false
