HTTP_HOST=localhost
HTTP_PORT=3000
DB_PATH=./archive/database.db
ENVIRONMENT=development

OPAQUE_SALT_NONCE=change-me-to-something-random
OPAQUE_CHALLENGE_RANGE=100000

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_ACCESS_TOKEN_DURATION=15m
